<!-- Logo -->
<div class="text-center text-lg-left">
  <a href="/">
    <span><img class="image-round" src="<%= static_path(@conn, "/images/logo.jpg") %>" alt="" height="55"></span>
    <span class="logo-text ml-1">
      WhaleWatch.io
      <span class="badge badge-danger">Beta</span>
    </span>

  </a>
</div>
